html {
  font-size: 10px;
  font-family: Roboto, Verdana, Arial, sans-serif;

  background-color: #000000;
}

textarea {
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 10px;
  height: 20vw;
  min-width: 300px;

  font-size: 1vw;
  color: white;

  resize: none;
  background-color: #2f2f2f;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.2);
}

textarea:focus {
  outline: 0;
}

.content {
  margin: 0 auto;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
}

.keyboard {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  height: 4vw;

  display: flex;
  justify-content: space-between;
}

.button {
  box-sizing: border-box;

  margin: 3px;
  min-width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1vw;
  font-weight: 600;
  color: #c1c1c1;

  user-select: none;

  border: 1px solid gray;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, .8);
}

textarea,
.button {
  border-radius: 1vw;
}

.button:hover,
.active {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, .8);
}

.disclaimer {
  margin-top: 10px;
  color: darkgray;
  font-size: 1vw;
  font-weight: 700;
}


.autoflash {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.flash {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.lighting {
  height: 60px;
  width: 40px;
  top: 0;
  left: -30px;

  animation: moving 2s ease-in-out infinite;
}

@keyframes moving {
  30% {
    transform: skewX(-45deg) translateX(15em);
  }

  100% {
    transform: skewX(-45deg) translateX(15em);
  }
}
